body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
  color: navy;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

&::-webkit-scrollbar { 
    display: none; 
}
  
@media(min-width:768px) {
    width:80%;
    white-space:nowrap;
    margin-top: 0;
}
  
.pet-card {
  margin: 60px 30px 30px 30px;
  display: inline-block;
  min-width: 350px;

    
  .pet-card--body {
    white-space: normal;
    text-align: left;
  }
}

.card-group > .card + .card {
  margin-left: 30px;
  border-left: 0;
}

.pet-card--select-pet-btn {
  margin-left: 15px;
}




.pet-details {
  text-align: center;
}

.pet-details--image {
  width: 200px;
  margin: auto;
  display: block;
}

.pet-details--header {
  display: inline-block;
  font-size: 1.5rem;
  color: navy;
}

.pet-details--content {
  text-align: left;
}

.search-bar {
  margin-top: 1em;
  background: #fff;
  padding: 1em;
  width: 100%;
  border-radius: 10em;
  transition: box-shadow 300ms ease;
  border-radius: 6px;
  border: 1px solid rgba(137, 149, 199, .2);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, .075) !important;
}

.elevation-3 {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12) !important;
}
.new-pet-form--label {
  margin-right: 30px;
  margin-left: 15px;
  width: 50px;
  font-weight: bold;
}

.new-pet-form--submit {
  margin-left: 15px;
}

.new-pet-form {
  margin: 15px;
}

.new-pet-form--about {
  width: 400px;
  margin: 10px;
  height: 200px;
}
.App {

}
h1 {
  font-size: 3.5rem;
  font-family: Menlo;
  font-weight: bold;
}
.app-header {
  grid-area: header;
}

.search-bar {
  grid-area: searchbar;
}

.pet-list {
  grid-area: petlist;
  width: 
}

.pet-details {
  grid-area: petdetails;
}

.footer {
  grid-area: footer;
}
